/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Bebas+Neue&family=DM+Serif+Display&family=Fjalla+One&family=Hammersmith+One&family=IBM+Plex+Sans:wght@600&family=League+Gothic&family=Pathway+Gothic+One&family=Prompt:ital,wght@0,500;0,600;0,700;1,700;1,900&family=Reem+Kufi:wght@600&family=Staatliches&family=Yanone+Kaffeesatz:wght@500&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: "Prompt", sans-serif;
}

h1 {
    font-family: "DM Serif Display", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    white-space: nowrap;  /* Makes sure that the heading stays on one line */
  }

  h2 {
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
   
  }

/* Header */

/* Added black background color to the top navigation */
header {
  background-color: black;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}



#menu {
  font-size: 70%;
  letter-spacing: 4px;
  list-style-type: none;
  color: #ffffff;
}

#menu > li {
  margin-bottom: 1em;
  white-space: nowrap;
  margin: 30px;
  text-align: center;

}

.active {
  border-bottom: 1px solid white;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: black;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content button reference for hero cover image (https://www.w3schools.com/howto/howto_css_button_on_image.asp) */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
 }

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-li-sun-2294361.jpg") no-repeat center center/cover
}

#cover-text { 
    font-size: 200%;
    position: absolute;
    width: 100%;
    min-height: 200px;
    padding-top: 220px;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
}

#cover-text-hard {
    color: rgb(255, 69, 69);
}

#cover-text-good {
    color: red;

}

#cover-text > h2 {
    color: #ffffff;
    padding: 10px;
    margin-left: -91px;
    letter-spacing: 8px;
    font-size: 190%;
    
}
#cover-text p {
    text-align: center;
    
  }
  
  #cover-text p a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: -85px;
   
  }



/* Classes on Home page section reference - https://www.youtube.com/watch?v=ng5t_R4zuSc*/



#classes-hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-rdne-stock-project-8612000.jpg") no-repeat center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pexels-rdne-stock-project-8612000.jpg");
}

#cover-text-classes-main {
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 80%;
    width: 30%;
    padding-top: 135px;
    padding-left: 35px;
    height: 60%;


}


#cover-text-classes-main h2 {
    color: coral;
    margin-top: -128px;
   margin-bottom: 56px;
    font-size: 195%;
    margin-left: -41px;
}


#cover-text-classes-main > p {

    color: #ffffff;
    font-size: 135%;
    text-decoration: none;
    margin-left: -19px;
    margin: -40px;
    margin-bottom: 35px;
}

.cover-text-classes-main-box a {
    text-decoration: none; 
    color: inherit; 
}

.cover-text-classes-main-box a:hover {
    text-decoration: underline; 
}




/* Lifestyle on Home page section */

#Lifestyle-hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-anna-tarazevich-5895891.jpg") no-repeat center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pexels-anna-tarazevich-5895891.jpg");
    

}

#cover-text-lifestyle-main > p {
    color: #ffffff;
    font-size: 150%;
    
    
}

#cover-text-lifestyle-main {
    font-size: 80%;
    position: absolute;
    width: 100%;
    padding-top: 220px;
    padding-left: 80px;
   

}

#cover-text-lifestyle-main h2 {

    font-size: 400%;
    color: gold;
}

#cover-text-lifestyle-main a {
    text-decoration: none; 
    color: inherit; 
}

#cover-text-lifestyle-main a:hover {
    text-decoration: underline; 
}

/* Our Club Page */

#club-heading {
    background: black;
}
video#bgvideo {
    width: 100%;
    height: 100%;
    }

.hidden-heading {
    background: black;
    color: black;
}


#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;

}

/* Classes */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.classes-text {

    font-size: 250%;
    padding-top: 70px;
    padding-left: 50px;
}

.classes-text p {
    color: #ffffff;
}

#classes a {
display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: 50px;
}

.container-class{
    width: 100%;
    min-height: 50vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-section {
    display: flex;
    justify-content: center;
    text-align: center;
}
.content-section .card {
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    
}
.content-section .card img {
    width: 100%;
    height: auto;
}

.content-section .card h2 {
    margin: 15px 0px;
    font-size: 28px;
    color: #1662a1;
    font-family: sans-serif;

}

.content-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;


}

.content-section img {

    
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}


#classes {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-dany-lovehill-10341872.jpg") no-repeat center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/pexels-dany-lovehill-10341872.jpg");
}

.ccontent-section {
    column-count: 2;

}

/* Lifestyle */

#Lifestyle {
    height: 890px;
    width: 100%;
    background: url(../images/jared-rice-NTyBbu66_SI-unsplash.jpg) no-repeat center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/jared-rice-NTyBbu66_SI-unsplash.jpg")

}

#cover-lifestyle h2 {

    font-size: 350%;
    padding-top: 45px;
    padding-left: 20px;
}

#cover-lifestyle p {

    padding-left: 17px;
    text-align: center;
    color: #ffffff;
    font-size: 160%;
    padding-top: 200px;  
}

.lifestyle-btn

{
    margin-left: 122px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none; 
    display: inline-block;

}


/* Contact Form - reference: https://www.youtube.com/watch?v=gggB0Nq5vBk */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hammersmith One", sans-serif;

}

#contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    background: url(../images/pexels-alesia-kozik-8154269.jpg)no-repeat center center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pexels-alesia-kozik-8154269.jpg");
    flex-grow: 1;
    
    

}

.contact, .contact-content
{
    max-width: 800px;
    text-align: center;
    
}

.contact, .contact-content h2

{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}

.contact, .contact-content p

{

    font-weight: 300;
    color: #fff;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex: 1;
}

#container, .contactInfo {

    width: 50%;
    display: flex;
    flex-direction: column;
}

#container .contactInfo, .box {

    position: relative;
    padding: 20px 0;
    display: flex;
}

#container .contactInfo .box, .icon{

    min-width: 60px;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

#container .contactInfo .box, .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}

#container .contactInfo .box, .text h3 {

    font-weight: 500;
    color: red;

}

.contactForm {
    width: 60%;
    padding: 40px;
    background: white
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;

}

.contactForm .inputBox {

    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox  input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px)
}

.contactForm .inputBox input[type="submit"] {
    
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}


/* Footer */
footer {
  background-color: black;
}

#page-links li {
    color: white;
    padding: 20px 0;
    display: inline;
    margin: 205px;
    margin-right: 80px;
    justify-content: space-evenly;
    text-align: center;

}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 100%;
    padding: 10%;
    
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    #Lifestyle {
        height: 663px;
    }

    
/* Our Club */
    #photos {
        column-count: 2;
        column-gap: 0;
    }

 




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

   /* Main content */
   main {
    /* Push main content down to accommodate larger header */
    margin-top: 45px;
}

 /* Hero image */
 #cover-text {
    width: 300px;
    left: 160px;
}

#cover-text > h2 {
    color: #ffffff;
    padding: 10px;
    margin-left: -79px;
    letter-spacing: 8px;
    font-size: 190%;
    white-space: nowrap;
    
}
}



/* Classes */
 /* Our Club gallery*/
 #photos {
    column-count: 2;
}

/* Lifestyle */

.lifestyle-btn

{
    margin-left: 321px;
    margin-top: 69px;

}

#Lifestyle {
    height: 1038px; }

    

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /*Header*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo {
    font-size: 180%;
    line-height: 75px;
    margin: 0 0.5rem;
    
  }

    .content-section {
        flex-direction: row; /* Resetting the flex-direction to the default value */
    }

    #menu a:hover{
        border-bottom: 1px solid white;
        color: orange;
    }
    

     /* Our Club */
     #photos {
        column-count: 4;
    }

    #cover-text > h2 {
        color: #ffffff;
        padding: 10px;
        margin-left: 170px;
        letter-spacing: 8px;
        font-size: 190%;
        white-space: nowrap;
        
    }

    /* Lifestyle */

.lifestyle-btn

{
    margin-left: 436px;
    margin-top: 69px;

}

    
}

/* Content */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .wrapper {
    margin-right: -20px;
  }
  .child {
    box-sizing: border-box;
    width: 25%;
    padding-right: 20px;
    float: left;
    display: flex;
  }
  .child p {
    background: lime;   
  }

  @media screen and (max-width:768px){
    .content-section {
        flex-direction: column;
    }
    
  }


  /* Contact Form  - as referenced on youtube link https://www.youtube.com/watch?v=gggB0Nq5vBk*/ 
  @media screen and (max-width: 992px)
  {
   /* Contact Form */
 .contact {
    padding: 50px;
}
.container {
    flex-direction: column;
}
.container .contactInfo {
    margin-bottom: 40px;
}
.container .contactInfo,
.contactForm {
    width: 100%;
}
  }
